.git
.husky
**/.env*
**/.next
**/node_modules
**/coverage
**/storybook-static
**/dist
**/Dockerfile
**/docker-compose*.yml

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions